version: "3.8"

services:
  fake-survey-generator-ui:
    ports:
      - "3000:443"
    volumes:
      - ./src/client/ui/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs/localhost-key.pem:/certs/localhost-key.pem:ro
      - ./certs/localhost.pem:/certs/localhost.pem:ro

  fake-survey-generator-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_HTTPS_PORT=44367
      - ConnectionStrings__SurveyContext=Server=sql-server;Database=FakeSurveyGenerator;user id=SA;pwd=<YourStrong!Passw0rd>;ConnectRetryCount=0
      - REDIS_PASSWORD=testing
      - REDIS_SSL=false
      - REDIS_URL=redis
      - REDIS_DEFAULT_DATABASE=0
      - IDENTITY_PROVIDER_URL=https://marcelmichau.eu.auth0.com/
    ports:
      - "5000:80"
      - "44367:443"
    volumes:
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro

  fake-survey-generator-worker:
    environment:
      - ConnectionStrings__SurveyContext=Server=sql-server;Database=FakeSurveyGenerator;user id=SA;pwd=<YourStrong!Passw0rd>;ConnectRetryCount=0
      - REDIS_PASSWORD=testing
      - REDIS_SSL=false
      - REDIS_URL=redis
      - REDIS_DEFAULT_DATABASE=0

  sql-server:
    ports:
      - "1433:1433"

  redis:
    ports:
      - "63790:6379"
