version: "3.8"

# Service ports do not need to be exposed while running the tests, but they can be exposed for debugging purposes

services:
  fake-survey-generator-ui-test:
    # ports:
    #   - "3000:80"
    volumes:
      - ./src/client/ui/nginx.tests.conf:/etc/nginx/nginx.conf:ro

  fake-survey-generator-api-domain-test:
    entrypoint:
      - dotnet
      - test
      - --logger
      - trx;LogFileName=/tests/fake-survey-generator-api-domain/TestResults.trx
      - --results-directory
      - /tests/fake-survey-generator-domain
      - --collect:"XPlat Code Coverage"

  fake-survey-generator-api-application-test:
    entrypoint:
      - dotnet
      - test
      - --logger
      - trx;LogFileName=/tests/fake-survey-generator-api-application/TestResults.trx
      - --results-directory
      - /tests/fake-survey-generator-api-application
      - --collect:"XPlat Code Coverage"

  fake-survey-generator-api-integration-test:
    environment:
      - USE_ENVIRONMENT_VARIABLES_ONLY=true
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:80
      - USE_REAL_DEPENDENCIES=true
      - ConnectionStrings__SurveyContext=Server=sql-server-test;Database=FakeSurveyGenerator;user id=SA;pwd=<YourStrong!Passw0rd>;ConnectRetryCount=0
      - REDIS_PASSWORD=testing
      - REDIS_SSL=false
      - REDIS_URL=redis-test
      - REDIS_DEFAULT_DATABASE=0
      - IDENTITY_PROVIDER_URL=https://somenonexistentdomain.com
    # ports:
    #   - "5000:80"
    entrypoint:
      - dotnet
      - test
      - --logger
      - trx;LogFileName=/tests/fake-survey-generator-api-integration/TestResults.trx
      - --results-directory
      - /tests/fake-survey-generator-api-integration
      - --collect:"XPlat Code Coverage"
  sql-server-test:
    # ports:
    #   - "1433:1433"
  redis-test:
    # ports:
    #   - "6379:6379"
